@using System.Collections
@model System.Collections.Hashtable

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Histórico de Pagos</h1>
</div>
<br />
<div class="bs-component">
    <table class="table table-hover">
        <tr>
            <th scope="col">Month</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
            <th scope="col">M</th>
            <th scope="col">A</th>
            <th scope="col">M</th>
            <th scope="col">J</th>
            <th scope="col">J</th>
            <th scope="col">A</th>
            <th scope="col">S</th>
            <th scope="col">O</th>
            <th scope="col">N</th>
            <th scope="col">D</th>
        </tr>

        @foreach (DictionaryEntry year in Model)
        {
            <tr>
                @{string[] months = (string[])year.Value;}
                <td>
                    @year.Key
                </td>
                @foreach (string n in months)
                {
                    <td>
                        @n
                    </td>
                }
            </tr>
        }
    </table>
</div> 